
body{
    background-color: #E1DABD;
}

html{
    font-family: "Cormorant Garamond",sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brown{
    background-color: #726953;
}

header{
    background-color:#726953;
    position: fixed;
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav >ul{
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    justify-content: space-evenly;
    list-style-type: none;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

#header-img{
    width:40px;
    height:35px;
    margin: auto;
    margin-top:2px;
    margin-left: 0.4rem;
    transform: scale(0.8);
}

li > a {
    color: white;
    text-decoration: none;
}

li>a:hover{
    color: #F26419;
    font-weight:800;
}

li>a:last-of-type{
    padding-right: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
    height: 100vh;
}


#hero_img_div{
    width:50%;
    height:100%;
}

#hero_img{
    height:100%;
    width:100%;
}

img{
    object-fit: cover;
}

#hero_text{
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin-left:30px;
}


#hero_text p:first-of-type{
    margin-bottom:-45px;
}

#hero_text p:last-of-type{
    margin-top:-18px;
    text-indent: 0.2rem;
}

.hero_big{
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    padding:0;
    margin:0;
    
}

.italic{
    font-style: italic;
}

#products{
    height: auto;
}

#products h2{
    text-align: center;
    padding: 40px 0;
}

#products img{
    width:250px;
    height:250px;
    border-radius: 55px;
    box-shadow: 15px 15px #E1DABD;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  
#location{
    height:80vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.white{
    color:white;
}

.text{
    font-size: 18px;
}

#subs{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding:20px;
}

#email{
    height: 2rem;
    width:350px;
    border-radius: 55px;
    border:0;
    text-indent: 1rem;
    margin-right:10px;
    font-family: inherit;
}

.button{
    height:2rem;
    padding:5px 15px;
    font-family: inherit;
    font-weight: bold;
    border-radius: 55px;
    border:1px solid #E1DABD;
    background-color: #726953;
    color:white;
}

.button:hover{
    cursor: pointer;
    color: #F26419;
    font-weight:800;
    border-color: #F26419;
}

#contact{
    padding:20px;
}

@media only screen and (max-width:600px){
    .hero_big{
        font-size:80px;
    }
  }
